<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    * This page is still under construction - please click on the LinkedIn icon in the sidebar! *
</div>
<div>
    Hey everyone! My name is Govind and I'm a data scientist and machine learning enthusiast! I'm particularly passionate
    about using data and ML to come up with innovative solutions to problems society faces. Prior to making a career transition
    into data science, I had spent 5 years in the banking industry as a risk analyst at Barclays and remain very interested 
    in the goings-on of the financial markets.
</div>